{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <!-- table -->
    <div class="dedicated-pricing padding-top40 padding-bottom40">
        <div class="custom-width">
            <div class="main-title text-center">
                <h2>Your Account</h2>
                <p>View all domains you own</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Owners Address</th>
                            <th>Ram Memory</th>
                            <th>Multi CPU</th>
                            <th>Price</th>
                            <th>List for Sell</th>
                        </tr>
                    </thead>
                    <tr data-aos="fade-up" data-aos-delay="50">
                        <td>Intel.brise</td>
                        <td>Unlimited Space</td>
                        <td>100GB Bandwidth</td>
                        <td>Yes</td>
                        <td class="price-in-table">9.99$/month</td>
                        <td><button class="btn btn-small btn-green">Sell Now<i class="fas fa-share"></i></button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- table end-->


    

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of section -->

{% endblock %}