{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    

    <!-- Domain Search section -->
    <div class="search-domain domain-page">
        <div class="custom-width">
            <div class="row">
                <div class="col-sm-5">
                    <div class="text">
                        <h4>Search perfect domain name</h4>
                        <p>Get your perfect domain name starting from <span class="green-color">10$</span> for the
                            first
                            year and free domain privacy included</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="domain-input">
                        <form action="#">
                            <div class="form-group">
                                <input placeholder="Search your perfect .brise domain name..." class="form-control" id="domain">
                                <button class="btn btn-domain" type="submit">Search Now</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Domain Search section ends here -->

    <!-- Doamin boxes -->
    <div class="boxes-two domain-boxes padding-top50 padding-bottom50">
        <div class="custom-width">
            <!-- Row one -->
            <div class="row">
                <div class="col-sm-10">
                    <div class="text">
                        <h4>Suggested for you</h4>
                        
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="domain-input">
                       <a href="#" class="dropdown-toggle btn btn-green btn-small" data-toggle="dropdown"><i class="bi bi-filter-circle-fill"></i> Filter</a>
                        <ul class="dropdown-menu">
                            
                            <li>Rare<input type="checkbox" name=""></li>
                            <li>Emoji<input type="checkbox" name=""></li>
                            <li>Letter<input type="checkbox" name=""></li>
                            <li>Pelindromes<input type="checkbox" name=""></li>
                            <li>Digits<input type="checkbox" name=""></li>
                            <hr>
                            <li>Price - High to Low<input type="checkbox" name=""></li>
                            <hr>
                            <li>Price - Low to high<input type="checkbox" name=""></li>

                        </ul> 
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-sm-4">
                    <div class="box-container lighter-bg">
                        <div class="box-title">
                            <h4><i class="fa fa-cloud"></i> web3devs.brise</h4>
                        </div>
                        <ul>
                            <li>Listed by 3tLw3...Egta4</li>
                            
                        </ul>
                        <div class="buttons">
                            <a href="#" class="btn btn-green btn-small">Price: 12,000 <i class="fa fa-long-arrow-alt-right"></i></a>
                            <a href="#" class="btn btn-outline btn-small"><i class="bi bi-cart-plus-fill"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-container lighter-bg">
                        <div class="box-title">
                            <h4><i class="fa fa-cloud"></i> web3devs.brise</h4>
                        </div>
                        <ul>
                            <li>Listed by 3tLw3...Egta4</li>
                            
                        </ul>
                        <div class="buttons">
                            <a href="#" class="btn btn-green btn-small">Price: 12,000 <i class="fa fa-long-arrow-alt-right"></i></a>
                            <a href="#" class="btn btn-outline btn-small"><i class="bi bi-cart-plus-fill"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box-container lighter-bg">
                        <div class="box-title">
                            <h4><i class="fa fa-cloud"></i> web3devs.brise</h4>
                        </div>
                        <ul>
                            <li>Listed by 3tLw3...Egta4</li>
                            
                        </ul>
                        <div class="buttons">
                            <a href="#" class="btn btn-green btn-small">Price: 12,000 <i class="fa fa-long-arrow-alt-right"></i></a>
                            <a href="#" class="btn btn-outline btn-small"><i class="bi bi-cart-plus-fill"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Domain boxes section ends here -->


    <style>

        .btn {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        
        .enableEthereumButton {
          background-color: #037dd6;
        }
        .sendEthButton {
          background-color: #4CAF50;
        }
        
        </style>
        
        
        <button class="enableEthereumButton btn">Enable Ethereum</button>
        <button class="sendEthButton btn">Send Eth</button>
        <h3>Account: <span class="showAccount"></span></h3>
        
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>

     

{% endblock %}