{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG">
    <!-- Page title -->
    <title>Brise Naming Service | Aibra</title>
    
    
    <link rel="alternate icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG">
    <link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Metaverse, ENS, EVM, Ethereum, Name Service, Domain Names, Bitgert Chain, NFTs, Humanizes Identities, NFT Market, Aibra, Young Parrot, Brise Token, Ethereum Name Service, ERC721"/>

    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:title" content="Brise Name Service"/>
    <meta name="twitter:title" content="Brise Name Service"/>
    <meta name="twitter:image:width" content="400" />
    <meta name="twitter:image:height" content="300" />
    <meta name="twitter:image:src" content="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG" >

    <meta name="twitter:description" content="Official Naming Service for Bitgert Chain, A Humanized ID for the Metaverse."/>
    <meta property="og:description" content="Official Naming Service for Bitgert Chain, A Humanized ID for the Metaverse."/>

    
    <meta name="description" content="Official Naming Service for Bitgert Chain, A Humanized ID for the Metaverse." content="IE=edge"/>

    <title>>Brise Naming Service | Aibra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG"/>
    
    <link rel="alternate icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG" type="image/x-icon">
    <link rel="icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta property="og:title" content="AIBRA"/>
    <link rel="icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG" type="image/x-icon">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Dekatron322/bns/main/main/static/images/IMG_4309.JPG" type="image/x-icon">
    <title>>Brise Naming Service | Aibra</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-icons/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style/other/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/style/other/animate.css' %}">
    <!-- Main css style -->
    <link rel="stylesheet" href="{% static 'assets/style/style.css' %}">
    <!-- main responsive css file -->
    <link rel="stylesheet" href="{% static 'assets/style/responsive.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS FILES end -->
</head>

<body>
    <div id="fakeLoader"></div>
    <!-- Start of topbar -->
    <div class="top-bar margin-for-home">
        <div class="custom-width">
            <div class="left-topbar aligment-for-home">
                <p>Welcome to Brise name Service</p>
            </div>
            <div class="right-topbar">
                <a target="_blank" class="topbar-link" href="mailto:info@bitgertbrise.domains"><i class="fa fa-envelope"></i>
                    info@bitgertbrise.domains</a>
                <a target="_blank" class="topbar-link hidden-xs" target="_blank" href="https://twitter.com/brisenaming"><i class="fa fas-twitter"></i> twitter</a>
                <a class="topbar-link" href="/find/"><i class="fa fa-user"></i> Buy Now</a>
            </div>
        </div>
    </div>
    <!-- End of topbar -->

    <!-- Navbar content -->
    <nav class="navbar navbar-default dark navbar-sticky bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <div class="custom-width">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    
                    <!--  <li class="search"><a href="#"><i class="fa fa-search"></i></a></li> -->
                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand aligment-for-home" href="/"><img src="https://raw.githubusercontent.com/Dekatron322/bns/main/main/logobns.png" class="logo"
                        alt=""></a>
                        
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                    <li class="dropdown">
                        <a href="/find/" class="active">Browse domains</a>    
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Build</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">Community</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="/docs/" class="" >Documentation</a>
                    </li>
                    <li><a target="_blank" href="https://twitter.com/brisenaming">Twitter<span class="badge-link">Aibra</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <div class="widget">
                <h6 class="title">About Us</h6>
                <p>No more sandboxed usernames. Own your username, store an avatar and other profile data, and use it across services.</p>
            </div>
            <div class="widget">
                <h6 class="title">Contact Us</h6>
                <ul class="link">
                    <li><i class="fa fa-envelope"><a target="_blank" href="mailto:info@bitgertbrise.domains"></i> info@bitgertbrise.domains</a></li>
                    <li><a target="_blank" href="https://t.me/Aibra_Official"><i class="fab fa-telegram"></i>telegram</a></li>
                </ul>
            </div>
            <div class="widget">
                <h6 class="title">Social Pages</h6>
                <div class="social-links">
                    <a target="_blank" href="https://twitter.com/brisenaming"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-google"></i></a>
                    <a target="_blank" href="https://t.me/Aibra_Official"> <i class="fab fa-telegram"></i></a>
                    
                </div>
            </div>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- Navbar Content ends here -->

    {% block content %}

    {% endblock %}

    <!-- Dark Footer -->
    <footer class="dark-footer">
        <div class="sidebar-socials link-style">
            <p style="text-align:center;">
                <img width="250px" src="https://raw.githubusercontent.com/Dekatron322/bns/main/main/logobns.png">
            </p>
        </div>
    </footer>
    <!-- Daek Footer ends here -->

    <!-- under footer -->
    <div class="under-footer dark-footer">
        <div class="custom-width">
            <div class="row">
                
                <div class="col-sm-12 col-12">t
                    <div class="sidebar-socials link-style">
                        <p style="text-align:center;">
                        <a target="_blank" href="https://twitter.com/brisenaming"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" href="https://t.me/Aibra_Official"><i class="fab fa-telegram"></i></a>
                        <a href="mailto:info@bitgertbrise.domains"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="under-footer2">
        <div class="custom-width">
            <div class="row">
                <p style="text-align:center;">Copyright 2021-22 © Aibra All rights reserved.</p>
            </div>
        </div>
    </div>
    <!-- under footer section ends here-->

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!--Fake Loader -->
    <script src="{% static 'assets/js/fakeLoader.min.js' %}"></script>
    <!-- contact form -->
    <script src="{% static 'assets/js/validator.js' %}"></script>
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <!-- bootstrap-->
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- AOS animation -->
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <!-- custom javascript file -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>
