{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Domain Search section -->
    <div class="search-domain domain-page">
        <div class="custom-width">
            <div class="row">
                
                
            </div>
        </div>
    </div>

    <!-- Domain Search section ends here -->

    <!-- Domain Search section -->
    <div class="search-domain domain-page">
        <div class="custom-width">
            <div class="row">
                <div class="col-sm-5">
                    <div class="text">
                        <h4>Search for the perfect domain name</h4>
                        <p>Get your perfect domain name starting from <span class="green-color">15$</span> for the
                            first
                            year and free domain privacy included</p>
                    </div>
                </div>
                
                <div class="col-sm-7">
                    <div class="domain-input">
                        
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input style="color: white; text-transform:lowecase" onkeyup="return forceLower(this);" name="domain_name" placeholder="Search your perfect .brise domain name..." class="form-control" id="domain">
                                <button class="btn btn-domain" type="submit">.brise</button>
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Domain Search section ends here -->


    <!-- Domain Search section ends here -->

    <!-- Domain Search section -->
    <div class="search-domain domain-page">
        <div class="custom-width">
            <div class="row">
                
                
            </div>
        </div>
    </div>

    <!-- Domain Search section ends here -->
     
    <script>
        function forceLower(strInput)
            {
                strInput.value = strInput.value.toLowerCase();
            }
     </script>
{% endblock %}